################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TelerikReportBuildPackageLoader/Client/bin/Debug/netstandard2.1/wwwroot/_framework/wasm
